box
{
background:black;
}
#d1
{
background:white;
display:block;
height:14vh;
width:100%;
}
#ebox
{
position:absolute;
background:rgba(250,250,250);
display:block;
overflow:hidden;
top:2vh;
left:10vw;
}
#pbox
{
position:absolute;
background:rgba(250,250,250);
display:block;
overflow:hidden;
top:6vh;
left:10vw;
pointer-events:all;
}
#sbox
{
position:absolute;
background:black;
color:white;
text-align:center;
display:block;
overflow:hidden;
top:10vh;
left:10vw;
}